/* ==========================================
   VARIABLES GLOBALES Y RESET
========================================== */
:root {
    --rojo-uns: #b30000;
    --rojo-claro-uns: #a82626;
    --gris-claro: #f4f4f9;
    --texto-oscuro: #333333;
    --blanco: #ffffff;
    --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transicion: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: var(--texto-oscuro);
    background-color: var(--blanco);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ==========================================
   EFECTOS EN ENLACES (Navbar)
========================================== */
.nav-link {
    position: relative;
    color: #374151;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #b30000;
    transform: translateY(-2px);
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: #b30000;
    transition: width 0.3s ease;
    border-radius: 2px;
}

.nav-link:hover:after {
    width: 100%;
}

/* ==========================================
   IMAGEN DE PORTADA (Hero Section Fixed)
========================================== */
.hero-bg {
    background-image: linear-gradient(rgba(127, 17, 17, 0.577), rgb(10, 10, 10)), 
                      url('https://media.licdn.com/dms/image/v2/C4D1BAQFK1JBaUGnjxA/company-background_10000/company-background_10000/0/1613748941108/universidad_nacional_del_santa_cover?e=2147483647&v=beta&t=-U1F3jK23SkW4DyCTHgNfnY1LJsIieM45hDebmGGIV4');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}